{% extends 'oauth/_oauth_base.html' %}

{% block content %}
<div>
{% if email %}
    <h1>Hey! You're already authenticated.</h1>
    <p>You're authenticated with <strong>{{ email }}</strong>.</p>
    <p><a href="/authenticate"><b>RE-AUTHENTICATE ME</b></a></p>
    <p><em>Re-authenticate if you need to switch Google accounts or to debug this workflow.</em></p>
{% else %}
    <h1>Hey! You haven't authenticated with Google yet.</h1>
    <p>Don't worry. We'll take you through it.</p>
    <p><a href="/authenticate"><b>AUTHENTICATE ME</b></a></p>
{% endif %}
</div>
{% endblock %}
